.advantage-icon {
  display: none;
}

.advantage {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantage-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantage-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantage-descr {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantage-item {
    width: calc((100% - 24px) / 2);
  }

  .advantage-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantage-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .advantage-item {
    width: calc((100% - (24px * 3)) / 4);
  }

  .advantage-icon {
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f4f4fd;
  }

  .advantage-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    width: 264px;
  }

  .advantage-descr {
    font-weight: 400;
  }
}